.main-header{
    font-family: monospace;
    font-size: 200%;
    color: black;
}
.main-grid-container{
    width: 90%;
    grid-template-columns: 1fr 2fr 5fr 4fr;
    margin: auto;
    gap: 7px;
    margin: auto;
    justify-content: center;
    display: grid;
}
.main-grid-item{
    
   padding: 5px; 
   
   
   background-color: palevioletred;
   font-family: monospace;
}
.thumbnail-img{
    width: 100%;
}